<header>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
        <div class="container-fluid">
            <img src="/assets/f1-logo.png" height="75px" width="100px">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/piloti/index.html">Piloti</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/team/index.html">Team</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/circuiti/index.html">Circuiti</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/classifiche/index.html">Classifiche</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/cos'è/index.html">Cos'è la Formula 1?</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>